langchain==0.1.14
langchain-community==0.0.35
langchain-core==0.1.49
sentence-transformers==2.2.2
huggingface_hub==0.20.3
#chromadb==0.4.22
pymupdf==1.23.1
python-dotenv==1.0.1
tqdm==4.66.2
#openai==0.27.0
streamlit==1.24.0
langchain-openai
faiss-cpu
pickle


